<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="inputs">
    <div>
      <input class="text two" type="text" placeholder="Nome" formControlName="name">
      <p class="text two red"
        *ngIf="errors.name?.['required']  &&
        (registerForm.get('name')?.value !== null || registerForm.get('name')?.touched)"
      >
        O nome é obrigatório
      </p>
    </div>

    <div>
      <input class="text two" type="email" placeholder="E-mail" formControlName="email">
      <p class="text two red"
        *ngIf="errors.email?.['required']  &&
        (registerForm.get('email')?.value !== null || registerForm.get('email')?.touched)"
      >
        O e-mail é obrigatório
      </p>
      <p class="text two red"
        *ngIf="errors.email?.['email']  &&
        (registerForm.get('email')?.value !== null || registerForm.get('email')?.touched)"
      >
        Preencha com um e-mail válido
      </p>
    </div>

    <div>
      <input class="text two" type="password" placeholder="Senha" formControlName="password">
      <p class="text two red"
        *ngIf="errors.password?.['required']  &&
        (registerForm.get('password')?.value !== null || registerForm.get('password')?.touched)"
      >
        A senha é obrigatória
      </p>
      <p class="text two red"
        *ngIf="errors.password?.['minlength']  &&
        (registerForm.get('password')?.value !== null || registerForm.get('password')?.touched)"
      >
        A senha deve ter no mínimo 8 caracteres
      </p>
    </div>

    <div>
      <select class="text four" formControlName="job">
        <option class="text four" value="null">Selecione uma profissão</option>
        <option class="text four" value="frontend">Front-end</option>
        <option class="text four" value="backend">Back-end</option>
        <option class="text four" value="fullstack">Fullstack</option>
      </select>
      <p class="text two red"
        *ngIf="errors.job?.['required']  &&
        (registerForm.get('job')?.value !== null || registerForm.get('job')?.touched)"
      >
        A profissão é obrigatória
      </p>
    </div>
  </div>

  <button class="text three" type="submit">Cadastrar</button>
</form>
